@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Speech Recognition</h1>
    <p>A lightweight speech recognition web tool.</p>
</div>

<div class="text-left">
    <p>
        <form id="frmSpeechRecognition" name="frmSpeechRecognition" action="" method="Get">
            <p>
                <label for="selCommand">Command:</label>
                <select id="selCommand" name="selCommand">
                    <option value="bckcolor">Hello</option>
                    <option value="txtColor">Text Color</option>
                    <option value="forColor">Exit</option>
                </select><br />
                <label for="txtCustomCommand">Custom Command:</label>
                <input type="text" id="txtCustomCommand" name="txtCustomCommand" width="150px">
            </p>

            <p>
                <label for="selAction">Action:</label>
                <select id="selAction" name="selAction">
                    <option value="man">Color: </option>
                    <option value="woman">Color: </option>
                    <option value="young">Color: </option>
                    <option value="old">Color: </option>
                </select><br />
                <label for="txtCustomAction">Custom Action:</label>
                <input type="text" id="txtCustomAction" name="txtCustomAction" width="75px">
            </p>
            <p>
                <div id="testArea">

                </div>
            </p>
            <p>
                <input type="submit" id="btnSubmit" name="btnSubmit" value="Recognize" />
                <input type="reset" id="btnReset" name="btnReset" value="Start Again" />
            </p>
        </form>
    </p>
</div>
<script>const textField = document.getElementById("txtInput"); textField.focus();</script>